<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <section class="hero" id="header">
        <div class="hero-body"> 
            <div class="columns container">
                <div class="column" id="imgcolumn">
                        <img src="/images/ebay.jpg" id="iconimg">
                </div>
                <div class="column">
                    <div class="block"> 
                        <h1 class="title has-text-white"> ARKAPLAN KALDIRMA</h1>
                    </div>
                    <div class="block">
                        <h3 class="subtitle has-text-white">FOTOĞRAF ARKAPLAN KALDIRMA!</h3>
                    </div>
        
                </div>
                
                
                
            </div>
        </div>
    </section>
    
    <section>
        <div class="block"></div>

        <div class="columns"  id="anaDiv">
            
            <div class="column  full-width">
                
                <div class="container sonuc" id="icerikDiv">
                   <center> <%-body %></center>
                </div>
            </div>
        </div>
    </section>
    
</body>
<script src="js/main.js"></script>
</html>

